@import "tailwindcss";

@theme {
  --color-background: #F9F9F7;
  --color-foreground: #2D2D2D;
  --color-accent: #A68B6C;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
